# Congress Words

In [1]:
import pandas as pd
import numpy as np

In [2]:
congress_words = pd.read_csv("../data/legislators.csv")
congress_words = pd.DataFrame(congress_words)
congress_words.head()

,title,firstname,middlename,lastname,name_suffix,nickname,party,state,district,in_office,...,govtrack_id,crp_id,twitter_id,congresspedia_url,youtube_url,facebook_id,official_rss,senate_class,birthdate,oc_email
0,Rep,Neil,NaN,Abercrombie,NaN,NaN,D,HI,1,0,...,400001,N00007665,neilabercrombie,http://www.opencongress.org/wiki/Neil_Abercrombie,http://youtube.com/hawaiirep1,NaN,NaN,NaN,1938-06-26,NaN
1,Rep,Gary,L.,Ackerman,NaN,NaN,D,NY,5,0,...,400003,N00001143,repgaryackerman,http://www.opencongress.org/wiki/Gary_Ackerman,http://youtube.com/RepAckerman,RepAcherman,NaN,NaN,1942-11-19,NaN
2,Rep,Robert,B.,Aderholt,NaN,NaN,R,AL,4,1,...,400004,N00003028,Robert_Aderholt,http://www.opencongress.org/wiki/Robert_Aderholt,http://youtube.com/RobertAderholt,19787529402,NaN,NaN,1965-07-22,Rep.Aderholt@opencongress.org
3,Sen,Daniel,Kahikina,Akaka,NaN,NaN,D,HI,Junior Seat,0,...,300001,N00007653,NaN,http://www.opencongress.org/wiki/Daniel_Akaka,http://youtube.com/senatorakaka,danielakaka,NaN,I,1924-09-11,NaN
4,Sen,Wayne,A.,Allard,NaN,NaN,R,CO,Senior Seat,0,...,300003,N00009082,NaN,http://www.opencongress.org/wiki/Wayne_Allard,NaN,NaN,NaN,II,1943-12-02,NaN

In [3]:
congress_words.columns.tolist()

['title',
 'firstname',
 'middlename',
 'lastname',
 'name_suffix',
 'nickname',
 'party',
 'state',
 'district',
 'in_office',
 'gender',
 'phone',
 'fax',
 'website',
 'webform',
 'congress_office',
 'bioguide_id',
 'votesmart_id',
 'fec_id',
 'govtrack_id',
 'crp_id',
 'twitter_id',
 'congresspedia_url',
 'youtube_url',
 'facebook_id',
 'official_rss',
 'senate_class',
 'birthdate',
 'oc_email']

## API call
I used the bioGuide id to retrive the words

In [4]:
l_bioGuides = congress_words.bioguide_id.tolist()
print l_bioGuides[:10]

['A000014', 'A000022', 'A000055', 'A000069', 'A000109', 'A000210', 'A000357', 'A000358', 'A000360', 'A000361']

### API call method it can be tweeked to scrape other data:

In [5]:
from urllib2 import Request, urlopen
import json
from pandas.io.json import json_normalize
def requestWords( id ):

    id = str(id)
    url = "http://capitolwords.org/api/1/phrases.json?entity_type=legislator&entity_value="+id+"&apikey=0bf8e7eb6ce146f48217bfee767c998d"
    request=Request(url)
    response = urlopen(request)
    contents = response.read()
    len(contents)
    if len(contents) > 2:
        data = json.loads(contents)
        words = json_normalize(data)
        list_of_words = words.ngram.tolist()
        string_of_words ="|".join(list_of_words)
        return string_of_words
    else:
        return np.nan

In [6]:
congress_words['favorite_words'] = congress_words.apply(lambda row: requestWords(row['bioguide_id']),axis=1)

In [7]:
congress_words.favorite_words.head(20)

0     hawaiian|hawaii|hawaiians|hawaii's|kalaupapa|e...
1     queens|rabbi|jewish|bayside|flushing|nassau|br...
2     aderholt|requesting|irons|huntsville|alabama|r...
3     hawaii's|hawaii|hawaiians|hawaiian|dsh|va|fas|...
4     colorado|flats|missile|rocky|colorado's|denver...
5     camden|gloucester|cyprus|rutgers|opic|jersey|p...
6     mercury|maine|prescription|pharmaceutical|drug...
7     freddie|morgenthau|fannie|you've|pilgrims|mayf...
8     tennesseans|carbon-free|tennessee|electricity|...
9     rodney|baton|rouge|lsu|louisiana|la|ruston|req...
10    murphy|drill|pittsburgh|altmire|sbir|oil|anwr|...
11    upstate|herkimer|utica|tay-sachs|suny|cybersec...
12    nj|2009|objection|army|minutes|recognized|6|se...
13    fairborn|ohio's|xenia|gire|wright-patterson|wa...
14    endeavour|skyler|meanings|shuttle|eagle|scout|...
15    foia|8015|aumf|government-set|davis-bacon|1034...
16    hampshire|guantanamo|timberland|gitmo|detainin...
17                                                  NaN
18    alean|brock|gantt|anderton|calvin's|sickle|cal...
19                                                  NaN
Name: favorite_words, dtype: object

## Clean responses that where null

In [8]:
congress_words = congress_words[congress_words.favorite_words.notnull()]

In [9]:
print "Number of legislators with word record:", len(congress_words.favorite_words)

Number of legislators with word record: 763

# Build words matrix

In [11]:
favorite_words = congress_words.favorite_words.str.get_dummies(sep = "|")
print favorite_words.head(3)
favorite_words.columns[:100]

   $0  $1  $1.50  $10  $100  $1000  $100000  $1000000  $10638425746293  $107  \
0   0   0      0    0     0      0        0         0                0     0
1   0   0      0    0     0      0        0         0                0     0
2   0   0      0    0     0      0        0         0                0     0

   ...   ziegler  zimbabwe  zimmer  zinc  zion  zoberman  zone  zones  zoo  \
0  ...         0         0       0     0     0         0     0      0    0
1  ...         0         0       0     0     0         0     0      0    0
2  ...         0         0       0     0     0         0     0      0    0

   zuni
0     0
1     0
2     0

[3 rows x 14420 columns]

Index([u'$0', u'$1', u'$1.50', u'$10', u'$100', u'$1000', u'$100000',
       u'$1000000', u'$10638425746293', u'$107', u'$12', u'$120', u'$12000',
       u'$13', u'$1300', u'$139', u'$14', u'$1400', u'$15', u'$1500',
       u'$150000', u'$1500000', u'$159', u'$1600', u'$17', u'$170', u'$18',
       u'$186', u'$19', u'$191', u'$2', u'$2.33', u'$200', u'$2000',
       u'$200000', u'$2000000', u'$21', u'$23', u'$23000', u'$236', u'$240',
       u'$25', u'$250', u'$250000', u'$2500000', u'$270', u'$27000', u'$290',
       u'$29000', u'$3', u'$300', u'$3000', u'$30000', u'$300000', u'$30500',
       u'$310', u'$319', u'$3300', u'$35', u'$350', u'$35000', u'$350000',
       u'$38', u'$4', u'$4.50', u'$400', u'$400000', u'$45', u'$46', u'$464',
       u'$5', u'$50', u'$500', u'$5000', u'$50000', u'$500000', u'$5100000',
       u'$58', u'$58000', u'$6', u'$60', u'$600', u'$600000', u'$6000000',
       u'$61', u'$683', u'$700', u'$713', u'$730', u'$750', u'$750000',
       u'$760', u'$787', u'$8', u'$80', u'$800', u'$81', u'$87', u'$90',
       u'$900'],
      dtype='object')

In [12]:
favorite_words.shape

(763, 14420)

## Problem: a lot of numbers!!!!
Live API so I can't hard code where the word columns start

In [13]:
favorite_words.columns[760:800]

Index([u'944', u'95', u'952', u'953', u'96', u'964', u'97', u'98', u'9800',
       u'9896', u'990', u'991', u'9946', u'999', u'9:30', u'?', u'a', u'a&m',
       u'a-plus', u'a.', u'a.d.', u'a.m.', u'a.m.e.', u'aaa', u'aacute',
       u'aahsa', u'aamodt', u'aana', u'aapg', u'aapi', u'aapis', u'aaron',
       u'aarp', u'abandon', u'abandoned', u'abaya', u'abbas', u'abbas's',
       u'abbeville', u'abby'],
      dtype='object')

In [25]:
word_list = favorite_words.columns.tolist()
print "Some of the words in it", word_list[800:900]

Some of the words in it [u'abducted', u'abduction', u'abductions', u'abdullah', u'abel', u'abercrombie', u'aberdeen', u'abernathy', u'abilene', u'abilities', u'ability', u'abilityone', u'abington', u'able', u'able-bodied', u'abm', u'aboard', u'abolitionist', u'abortion', u'abortionist', u'abortions', u'about', u'abraham', u'abscissa', u'absence', u'absent', u'absentee', u'absolutely', u'abstinence', u'absurd', u'abu', u'abu-jamal', u'abundance', u'abundant', u'abuse', u'abused', u'abuses', u'abusive', u'aca', u'acacia', u'academic', u'academics', u'academies', u'academy', u'acadiana', u'accept', u'acceptable', u'acceptance', u'access', u'accessibility', u'accessible', u'accessing', u'accidental', u'accidents', u'accolades', u'accommodate', u'accompanying', u'accomplishments', u'accordance', u'accordingly', u'accords', u'account', u'accountability', u'accountable', u'accounting', u'accounts', u'accreditation', u'accreditors', u'accrual', u'accrued', u'accumulate', u'accumulated', u'accuracy', u'accurate', u'accused', u'accutane', u'acequia', u'achieve', u'achievement', u'achievements', u'achieving', u'aci', u'acid', u'acidification', u'acin', u'ackerman', u'acknowledge', u'acme', u'acorn', u'acosta', u'acquire', u'acquisition', u'acre', u'acre-feet', u'acres', u'across', u'across-the-board', u'act', u'acting', u'action']

In [31]:
def word_finder(list,start):
    for index, element in enumerate(list, start):
        if element[0]!="a":
            pass
        else:
            first = index
            break
    return first
x = word_list
print word_finder(x,0)

776

In [33]:
word_list[776]

u'a'

# Give words a count that is relevant

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(min_df=1)
vectorizer

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

#### Corpus
I used the whole must repited words to have more of a global tf-idf

In [35]:
corpus = favorite_words.columns.tolist()
X = vectorizer.fit_transform(corpus)

In [36]:
analyze = vectorizer.build_analyzer()
print analyze("economy a this")
vectorizer.get_feature_names()[910:920]

[u'economy', u'this']

[u'africans',
 u'after',
 u'aftermath',
 u'afternoon',
 u'afterschool',
 u'afterward',
 u'ag',
 u'again',
 u'against',
 u'agana']

In [39]:
vectorizer.vocabulary_.get('document') #not seen in the training corpus will be completely ignored in future calls to the transform method

4357

In [41]:
vectorizer.transform(['Something completely unrelated']).toarray()

array([[0, 0, 0, ..., 0, 0, 0]])

# Method for later analysis

In [47]:
def new_text_vector(string):
    array = vectorizer.transform([string]).toarray()
    return array
new_text_vector("Some piece of text I want to classify for being as rejecting discrimination")

array([[0, 0, 0, ..., 0, 0, 0]])

# Transformer

In [48]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
transformer

TfidfTransformer(norm=u'l2', smooth_idf=True, sublinear_tf=False,
         use_idf=True)

In [49]:
tfidf = transformer.fit_transform(favorite_words)
tfidf_array = tfidf.toarray()
tfidf_array.shape
tfidf_array[20].max()
transformer.idf_

array([ 6.25227343,  4.93051759,  6.94542061, ...,  6.94542061,
        6.5399555 ,  6.94542061])

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=1)
vectorizer.fit_transform(corpus)
vec_idf = vectorizer.idf_
print len(vec_idf)

13670

In [53]:
words_weight = pd.DataFrame(tfidf_array, index=congress_words.index , columns=corpus)
print congress_words.index
print words_weight.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            886, 887, 888, 889, 890, 891, 892, 893, 894, 896],
           dtype='int64', length=763)
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            886, 887, 888, 889, 890, 891, 892, 893, 894, 896],
           dtype='int64', length=763)

In [55]:
capitol_words = congress_words.merge(words_weight, right_index=True, left_index=True)
capitol_words.head()

,title_x,firstname,middlename,lastname,name_suffix,nickname,party_x,state_x,district_x,in_office,...,ziegler,zimbabwe,zimmer,zinc,zion,zoberman,zone,zones,zoo,zuni
0,Rep,Neil,NaN,Abercrombie,NaN,NaN,D,HI,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Rep,Gary,L.,Ackerman,NaN,NaN,D,NY,5,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Rep,Robert,B.,Aderholt,NaN,NaN,R,AL,4,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sen,Daniel,Kahikina,Akaka,NaN,NaN,D,HI,Junior Seat,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Sen,Wayne,A.,Allard,NaN,NaN,R,CO,Senior Seat,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
word_column_names_capitol = capitol_words.columns.tolist()[word_finder(capitol_words,0):]
capitol_words[word_column_names_capitol].head()

,a,a&m,a-plus,a.,a.d.,a.m.,a.m.e.,aaa,aacute,aahsa,...,ziegler,zimbabwe,zimmer,zinc,zion,zoberman,zone,zones,zoo,zuni
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.096384,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
capitol_words[word_column_names_capitol].sum().max()

12.815564347877871

## Getting rid of the words that 95% of the people said
Because they don't add much in to analyzing what makes legislators different from one another.

In [67]:
word_frequencies = (capitol_words[word_column_names_capitol]>0).astype(int).sum(axis=0).astype(float)/capitol_words.shape[0]
most_frequent_words = word_frequencies[word_frequencies>.95].index
most_frequent_words

Index([], dtype='object')

In [69]:
word_frequencies = (capitol_words[word_column_names_capitol]>0).astype(int).sum(axis=0)
word_frequencies.max()

323

In [70]:
capitol_words.party_x.unique()
party_mask = capitol_words.party_x!="I"
two_party_words = capitol_words[party_mask]
print "Entries before getting rid of independents:", capitol_words.shape[0]
print "Entries after getting rid of independents:", two_party_words.shape[0]
print "Number of independents:", (capitol_words.shape[0])-(two_party_words.shape[0])

Entries before getting rid of independents: 763
Entries after getting rid of independents: 760
Number of independents: 3