# Vote view congressional data
Vote view nominate scores updates
Weekly Update of "Common Space" DW-NOMINATE Scores

In [1]:
import pandas as pd
import numpy as np
from urllib2 import Request, urlopen

In [2]:
data_url = "http://voteview.uga.edu/ftp/junkord/HANDSL01114A20_STAND_ALONE_23.DAT"

In [3]:
request=Request(data_url)
response = urlopen(request)
contents = response.read()

In [209]:
import csv
import requests

r = requests.get('http://voteview.uga.edu/ftp/junkord/HANDSL01114A20_STAND_ALONE_23.DAT') 
data = [row for row in r.iter_lines()]

In [182]:
columns = [ "congress_number", "icpsr" , "state_code" , "congressional_district_number" , "state_name" , "party_code" , "name" , "1st_dimension_coordinate" , "2nd_dimension_coordinate" ,"log_likelihood" ,"number_votes" , "number_of_classification_errors", "geometric_mean_probability"]

In [253]:
print len(columns)

def data_clean(data):
    new_data = []
    for line in data:
        line = line.split(" ")
        line = filter(None, line)
        if len((line[3]))>=2:
            line[2][:-1]
            line.insert( 3, line[2][2:])
            line[2] = line[2][:-1]
        if line[4] =="NEW" or line[4]=="WEST" or line[4] =="RHODE" or line[4]=="SOUTH":
            line[4] = line[4] + ' '+line[5]
            line.pop(5)
        if len(line[7])<3:
            line[6]= line[6] +' '+line[7]
            line.pop(7)
        new_data.append(line)
    return new_data

13

In [254]:
clean_data_list = data_clean(data)
len(clean_data_list[1])
print"value at", clean_data_list[5][2]
print len(clean_data_list[0])
len(clean_data_list[5])

value at 11
13

13

In [255]:
single_example = clean_data_list[12]
print single_example[5]
type(single_example[5])
#single_example[4]=="NEW" or single_example[4]=="NEW" or single_example[4]=="WEST" =="RHODE" =="SOUTH"
str = single_example[1]+' '+single_example[2]
print len(single_example[7])

4000
5

In [302]:
len(clean_data_list)
nominate_scores = pd.DataFrame(clean_data_list)

In [303]:
nominate_scores = nominate_scores.ix[:,:12]

In [313]:
nominate_scores.columns = columns
nominates_scores = nominate_scores.ix[:, nominate_scores.columns != 'name'].convert_objects(convert_numeric=True)

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [326]:
nominate_scores.name
nominate_scores = pd.concat([nominates_scores,nominate_scores.name], axis=1)
nominate_scores.head()

,congress_number,icpsr,state_code,congressional_district_number,state_name,party_code,1st_dimension_coordinate,2nd_dimension_coordinate,log_likelihood,number_votes,number_of_classification_errors,geometric_mean_probability,name
0,1,9062,19,8,CONNECT,5000.0,0.541,0.444,-25.62408,80.0,13.0,0.726,STURGES
1,1,9706,19,8,CONNECT,5000.0,0.745,0.176,-16.39512,86.0,5.0,0.826,WADSWORTH
2,1,8457,19,8,CONNECT,5000.0,0.594,0.296,-40.40777,107.0,18.0,0.685,SHERMAN
3,1,4766,19,8,CONNECT,5000.0,0.639,0.282,-28.80767,84.0,12.0,0.710,HUNTINGTON
4,1,9489,19,8,CONNECT,5000.0,0.694,0.228,-30.44611,106.0,11.0,0.750,TRUMBULL